.button {
  margin-right: 16px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 24px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.primary {
  background-color: #324bff;
  color: white;
}

.primary:hover {
  background-color: darkblue;
}

.secondary {
  border: 1px solid #324bff;
  color: #324bff;
}

.secondary:hover {
    border: 1px solid darkblue;
  color: darkblue;
}

.disabled {
  background-color: #ccc;
  color: #666;
  cursor:default;
  opacity: 0.5;
  border: 1px solid #666
}

.disabled:hover {
  border: 1px solid #666;
  color: #666;
}
