/* Estilos para la modal */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.header{
  font-size: 18px;
  font-weight: 300;
  color: grey;
  margin: 16px 0 16px 0 
}

.modalContent {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 40%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.textInput{
  background-color: #f7f7f7;
  padding: 8px;
  border: 1px solid #f2f2f2;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.primary-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.secondary-btn {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #0056b3;
}

.secondary-btn:hover {
  background-color: #999;
}
