.stringContainer{
    background-color: white;
    padding: 48px;
    border-radius: 5px;
    display: flex;
    align-self: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:40%;
    height: auto;
}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
}

.buttonsContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    font-size: 28px;
    font-weight: 800;
}

.subHeader{
    font-size: 18px;
    font-weight: 300;
}

.secondaryButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemListContainer{
    width: 100%;
    background-color: #f7f7f7;
    padding: 16px;
    border: 1px solid #f2f2f2;
    margin: 16px 0 16px 0;
}